<div class="container" style="margin: 20px; padding: 20px">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login(loginForm.value)"
    >
      <input
        placeholder="Username"
        formControlName="uname"
        type="text"
        class="form-control m-4"
      />
      <input
        placeholder="Password"
        formControlName="pwd"
        type="password"
        class="form-control m-4"
      />
     
      <input type="submit" value="Login" class="btn btn-danger" />
    </form>
  </div>
  